<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="./card.css">
    <script
    src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous">
  </script> 
</head>
<body>
    <section id="card">
        <div class="container">
            <div class="card">
                <div class="card-top">
                    <div class="information">
                        <i class="fas fa-user"></i>
                        <h1>Sashank Sahu</h1>
                    </div>
                    <div class="information">
                        <i class="fas fa-phone-alt"></i>
                        <h2>0123456789</h2>
                    </div>     
                </div>
                <div class="card-middle">
                    <div class="logo-info">
                        <div class="information">
                            <i class="fas fa-users"></i>
                            <h2>100</h2>
                        </div>
                        <div class="information">
                            <i class="fas fa-clock"></i>
                            <h2>10min</h2>
                        </div>
                        <div class="information">
                            <i class="fas fa-address-card"></i>
                            <p>Address</p>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div>
                <div class="card-bottom">
                    <button class="btn m-btn">Maps <i class="fas fa-map-marked-alt"></i></button>
                    
                    <button class="btn r-btn">Remove <i class="fas fa-times-circle"></i></button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>