<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/signin.css" />
		<title>Sign in & Sign up Form</title>
	</head>
	<body>
		<div class="container">
			<div class="forms-container">
				<div class="signin-signup">
					<!-- Sign In Form -->
					<form action="/donations/add" class="sign-in-form" method="POST">
						<h2 class="title">Donate Food</h2>
						<div class="input-field">
							<i class="fas fa-user"></i>
							<input
								type="text"
								placeholder="Quantity"
								id="quantity"
								name="quantity"
								required
							/>
						</div>
						<div class="input-field">
							<i class="fas fa-user"></i>
							<input
								type="text"
								placeholder="Description"
								id="description"
								name="description"
								required
							/>
						</div>
						<div class="input-field">
							<i class="fas fa-address-card"></i>
							<input
								type="text"
								placeholder="Address line 1"
								id="addLine1"
								name="addLine1"
								required
							/>
						</div>
						<div class="input-field">
							<i class="fas fa-address-card"></i>
							<input
								type="text"
								placeholder="Address line 2"
								id="addLine2"
								name="addLine2"
							/>
						</div>
						<div class="input-field">
							<i class="fas fa-address-card"></i>
							<input type="text" placeholder="City" id="city" name="city" required />
						</div>
						<input type="hidden" id="latitude" name="latitude" value="" required />
						<input type="hidden" id="longitude" name="longitude" value="" required />
						<input type="submit" value="Donate" class="btn solid" />
					</form>
				</div>
			</div>

			<div class="panels-container">
				<!-- Sign up cover panel -->
				<div class="panel left-panel">
					<div class="content">
						<h3>Hey You!!</h3>
						<p>
							Before posting a donating have a look over all requests if you could
							someone directly
						</p>
						<button
							class="btn transparent"
							id="sign-up-btn"
							onclick="location.href='/requests';"
						>
							All Requests
						</button>
					</div>
					<img src="/images/clipart299583.png" class="image" alt="" />
				</div>
			</div>
		</div>
	</body>
	<script src="/js/getLocation.js"></script>
</html>
