@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	list-style-type: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html,
body {
	height: 100%;
}

.card {
	position: relative;
	background: #fff;
	width: 100%;
	margin: 20px auto;
	box-shadow: 0px 0px 10px 2px #000;
}
.card .header {
	padding: 10px;
}
.card .header .icon a .fa-heart-o {
	position: absolute;
	left: 85%;
	bottom: 30.7%;
	background: #17bebb;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	padding: 15px;
	border-radius: 50%;
	box-shadow: 0px 5px 30px 1px #17bebb;
}
.card .text .food {
	color: #212129;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 5px 30px;
}
.card .text .fa-clock-o {
	color: #9b9b9b;
	margin: 0px 10px 0 30px;
}
.card .text .fa-phone {
	color: #9b9b9b;
	margin: 0 10px;
}
.card .text .fa-users {
	color: #9b9b9b;
	margin: 0 10px;
}
.card .text .fa-address-card {
	color: #9b9b9b;
	margin: 0 10px;
}
.card .stars {
	margin: 10px 30px;
}
.card .stars li a i {
	color: #ffe500;
}
.card .info {
	margin: 10px 30px;
}

.card a.card_button {
	display: inline-block;
	width: 45%;
	color: #fff;
	position: left;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 10px;
	transition: 250ms;
	margin: 10px;
}

.green {
	background: #4caf50;
}
.red {
	background: #ef3e36;
}
.card a.card_button:hover {
	background: #17bebb;
	transition: 250ms;
}
